.top {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    gap: 50px;

}

img {
    width: 800px;
    height: auto;
    border-radius: 20px;
}

.topic {
    margin-top: 50px;
    margin-left: 50px;
    width: 700px;
    height: 350px;
    background-color: #eee;
    padding: 20px;
}

h1 {
    padding-top: 30px;
    font-size: 1.75rem;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    padding-top: 10px;
    margin-bottom: 20px;
}

.button {
    width: 120px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: #4CAF50;
    padding: 10px;
}

.button:hover {
    background-color: #0ba811;
    color: white;
    transition: 500ms;
}

@media screen and (max-width: 800px) {
    .top {
        flex-direction: column;
        align-items: center;
        
    }

    img {
        width: 100%;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .topic {
        width: 100%;
        margin: 5%;
        height: auto;
    }
    
}